h1 {
    color: red;
    text-decoration: underline;
    font-size: 75%;
}

.paragraphe1 {
    color: blue;
}

.paragraphe2 {
    color: #008000;
    margin-left: 50px;
}

.paragraphe3 {
    color: rgb(255, 0, 0);
}

#nom {
    font-weight: bold;
}

#nom:hover {
    cursor: pointer;
}

.paragraphe1, .paragraphe2, .paragraphe3 {
    font-family: "Courier New", Times, serif;
}

label {
    float: left;
    width: 4em;
    text-align: left;
}

input {
    text-align: left;
}