body {
    margin: 0;
}

header {
    background-color: rgb(42, 156, 221);
    padding: 10px;
    border-bottom: black 2px solid;
}

header>h1 {
    font-size: 300%;
    color: white;
}

header>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header>h1, header>p {
    text-align: center;
    margin: 0;
}

.info {
    font-style: italic;
    font-size: 80%;
}

.titre {
    color: rgb(18, 28, 177);
    font-weight: bold;
    font-size: 200%;
    margin: 10px 0; 
}

.info, .titre {
    padding-left: 10px;
}

article {
    width: 75%;
    float: left;
}

#historique {
    width: 25%;
    float: right;
}

li {
    border-bottom: 1px black solid;
    list-style-type: none;
    padding: 10px 5px 10px 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    transition: background-color 2s, color 1s;
}

li:hover {
    background-color: rgb(42, 156, 221);
    color: white;
    transition: background-color 2s, color 1s;
    cursor: pointer;
}

#texte {
    border-style: dashed;
}

#texte>p{
    padding: 10px;
}